<mat-toolbar color="black">
    <mat-toolbar-row>
      <span>KICKSTARTER</span>
    </mat-toolbar-row>

</mat-toolbar>
  
<mat-spinner *ngIf="!projects" style="position: absolute;top: 47%;left: 47%;"></mat-spinner>

<div *ngIf="projects" class="container" style="margin-right: 10px">
  <h3 style="margin: 10px">EXPLORE {{projects.length}} LIVE PROJECTS</h3>
  <div style="margin: 10px">
    
      <form class="example-form" style="display: inline-block;margin-right:30px;width:40%">
        <mat-form-field class="example-full-width" style="width:100%">
          <input type="text" placeholder="Search by project name" aria-label="Number" matInput #name [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="logg(name.value)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
        
      <div style="display: inline-block">
          <p style="display: inline-block;margin-right:10px;">FILTER BY : </p>
          <mat-form-field style="display: inline-block;margin-right:30px;">
            <mat-select placeholder="Country" [formControl]="formControl" (selectionChange)="statesChanged()" [(ngModel)]="selectedStates" multiple>
              <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div style="display: inline-block">
          <p style="display: inline-block;margin-right:10px;">SORT BY : </p>
          <mat-form-field style="display: inline-block;">
            <mat-select [(value)]="sort" (selectionChange)="sortChanged()">
              <mat-option value="Percenatage Funded">Percenatage Funded</mat-option>
              <mat-option value="End Time">End Time</mat-option>
            </mat-select>
          </mat-form-field>  
      </div>
         
  </div>
	<div class="row">
      <mat-card *ngFor="let project of projects;" class="item" style="margin: 10px">
        <h4>{{ project.title}}</h4>
        <hr>
        <div>
          <mat-icon style="display: inline-block;margin-right:10px;vertical-align: middle;">person</mat-icon>
          <small style="display: inline-block;vertical-align: middle;">{{ project.by }}</small>
        </div>
        <br>
        <p style="margin-bottom:20px;">{{ project.blurb }}</p>
        <p style="text-align:center;width:100%;padding:10px;margin:-10px;background-color:black; color:white;">{{ project["end"] }}</p>
        <div style="margin-top:10px;">
          <mat-icon style="display: inline-block;margin-right:10px;vertical-align: middle;">location_on</mat-icon>
          <p style="display: inline-block;vertical-align: middle;">{{ project.location }}</p>
        </div>
        <hr>
        <div>
          <table class="table" style="width:100%">
              <thead>
                <tr>
                  <th scope="col">{{ project["percentage.funded"] }}%<br>funded</th>
                  <th scope="col">{{ project["amt.pledged"] }}<br>pledged</th>
                  <th scope="col">{{ project["num.backers"] }}<br>backers</th>
                </tr>
              </thead>
            </table>
        </div>
        <hr>
      </mat-card>
	</div>
</div>
